@charset "utf-8";

* {
	color: #333333;
}

header {
	width: 100%;
}

header a {
	color: inherit;
	text-decoration: none;
}

section {
	width: 1000px;
	margin: auto;
}

h3 {
	color: #4169e1;
}

div.eyecatch {
	text-align:center;
}

div.eyecatch img {
	height: 456px;
}

div.thumb {
	text-align: center;
}

div.thumb img {
	height: 300px;
}

@media (max-width:640px) {
	section {
		width: 100%;
	}
}